---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos  | Nolan Ribeiro" description="À propos de Nolan Ribeiro">
	<div class="stack gap-20">
		<main class="wrapper about ">
			<Hero
				title="À propos "
				tagline="Merci d'être passé(e) par ici. Un texte vous attend pour en apprendre davantage sur mon parcours et mes compétences."
			>
			
		
				<img
					
					width="776.5"
					height="436.5"
					
					src="/assets/at-work.jpg" 
					alt="Nolan Ribeiro"
					
				/>
			</Hero>
		

	

			
			<section>
				<br>
				
				<h2 class="section-title">Qui suis-je ?</h2>
				<div class="content">
					<p>
						Salut, je suis Nolan Ribeiro ! </p>
<br>
	
<p>
Je suis un photographe en freelance et artiste pluridisciplinaire basé sur Paris.
C'est avec passion, que je fais brûler ma flamme de créativité. Elle m'encourage à me dépasser et c'est confiant que je capture le monde en photo. 
J'aime créer des fictions, des textes, des souvenirs, mais par dessus tout, des émotions et des sentiments.
Je souhaite produire un art qui transporte le spectateur dans le monde tel que je le perçois.
Mon travail m'a ainsi amené à utiliser les logiciels PAO et à réaliser des vidéos de tout type, m'apprenant en parallèle à gérer un calendrier de production.
Je suis très intéressé par les méthodes d'illustration, pour dans un futur proche, intégrer cela aux projets que je réalise.
</p>
<br>
<p>
Mon esprit compétitif, me pousse à également déployer mon potentiel dans le sport. Décrochant un titre aux championnats de France de musculation cross fit, j'ai pu développer mon sens de la priorité et une bonne gestion d'équipe.
De cette manière, j'aime détruire les anciennes versions de moi-même pour parfaire mes compétences et mes connaissances.
</p>
<br>
<p>
Explorez mon portfolio et laissez vous captiver par mes créations. Que ce soit pour collaborer sur un projet ou simplement discuter de votre passion pour la photographie, je suis disponible et impatient d'échanger avec vous. Contactez moi dès maintenant et donnons vie à vos idées ensemble.
</p>
					</p>
				</div>
			</section>
			<section>
			
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p> <a href="https://istec.fr/programmes/bachelor-management/">💡connaître ma formation</a> </p>
				</div>
			</section>
			<section>
			
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Suite adobe
						
						
						
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
