---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Entrepreneur</h2>
		<p>J'entreprends au quotidien dans les domaines qui me passionnent. Je m'investis avec dévouement dans une multitude de projets, que je porte au maximum des mes capacités pour qu'ils éclosent en une réalité florissante.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="rocket-launch" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Créatif</h2>
		<p>Je suis constamment en quête d'exploration et de nouveaux horizons, que ce soit à travers la cuisine, la découverte de langues ou l'élaboration de nombreux projets.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Compétitif</h2>
		<p>Porté par un esprit de dépassement constant, j'insuffle une dynamique inspirante à mon entourage, propageant ainsi un élan collectif vers l'excellence.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
