---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Entrepreneur</h2>
		<p>Chaque jour, je me consacre à ce qui me passionne : la création audiovisuelle. Je m'investis pleinement dans des projets variés, comme la réalisation de vidéos ou des shootings photo. Je met toute mon énergie pour leur donner vie et les voir s'épanouir avec succès.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="rocket-launch" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Créatif</h2>
		<p>Je suis un explorateur curieux par nature, toujours en quête de nouveaux défis. Que ce soit en expérimentant des recettes inédites en cuisine, en perfectionnant une nouvelle langue pour élargir mes perspectives, ou en transformant des idées en projets créatifs.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Leardership</h2>
		<p>J'ai toujours eu cette détermination en moi qui me pousse à agir, et je ne me sens pleinement accompli que lorsque mes objectifs sont atteints. Avoir cette volonté constante de me dépasser, permet de créer une énergie positive qui motive aussi mon entourage à viser toujours plus haut et à donner le meilleur d'eux-mêmes.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
